# Server
PORT=8080

# Postmark
POSTMARK_SERVER_TOKEN=your-postmark-server-token
POSTMARK_FROM=noreply@ateamgutter.com
POSTMARK_TO=info@ateamgutter.com

# Turnstile
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
